<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tournament</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="container">
        <h1>Add a New Tournament</h1>
    </header>

    <main class="container">
        <form action="{{url_for('handle_add_tournament')}}" method="POST">
            
            <div>
                <label for="tourn_name">Tournament Name:</label>
                <input type="text" id="tourn_name" name="Tournament_name" required>
            </div>
            <br>

            <div>
                <label for="teams">Number of Teams:</label>
                <input type="number" id="teams" name="Number_of_registered_teams" min="0">
            </div>
            <br>
            
            <div>
                <label for="sport">Sport:</label>
                <input type="text" id="sport" name="Sport">
            </div>
            <br>

            <div>
                <label for="venue_input">Venue:</label>
                <select id="venue_input" name="venue_id" required>
                    <option value="" disabled selected>Select a venue</option>
                    {% for event in all_events %} <option value="{{ event.id }}">{{ event.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>

            <div>
                <label for="event_date_input">Event Date and Time:</label>
                <input type="datetime-local" id="event_date_input" name="event_date" required>
            </div>
            <br>
            
            <div>
                <button type="submit">Add Tournament</button>
            </div>
        </form>
        
        <br>
        <a href="{{url_for('maintenance')}}">Back to Maintenance Page</a>
    </main>

    <footer class="container">
        <p>&copy; 2025 Campus Information Center.</p>
    </footer>
</body>
</html>