<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Search</title>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
    $( function() {
        $( "#tournament-search-input" ).autocomplete({
            source: "{{ url_for('autocomplete_search_event') }}",
            minLength: 2,
            delay: 300
        });
    });
    </script>
</head>
<body>
    <header class="container">
        <h1>Search Tournament</h1>
    </header>

    <main class="container">
        <form action="{{ url_for('event_research') }}" method="GET"> 
            
            <div class="ui-widget">
                <label for="tournament-search-input">Tournament Name:</label>
                <input 
                    type="text" 
                    id="tournament-search-input" 
                    name="tournament_name" 
                    placeholder="Start typing (e.g. Football)..."
                >
            </div>
            <br>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
        
        <br>
        <a href="{{ url_for('maintenance') }}">Back to Maintenance Page</a>
    </main>
</body>
</html>