<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Gym personnel details</title>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

        <script type="text/javascript">
            $(function(){
                $("#autocomplete").autocomplete({
                    source: function(request, response){
                        $.getJSON("{{url_for('handle_new_sear_building')}}",{
                            personnel_name: request.term,
                        }, function(data){
                            response(data.matching_results);
                        });
                    },
                    minLength: 5,
                    select: function(event, ui){
                        console.log(ui.item.value);
                    }
                });
            });
                
        </script>

    </head>
    <body>
        <div>
            <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg"/>
        </div>
    </body>
</html>