<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="container">
        <h1>Add a New Book</h1>
    </header>

    <main class="container">
        <form action="/handle_add_book" method="POST">

            <div>
                <label for="title_input">Title:</label>
                <input type="text" id="title_input" name="title" required>
            </div>
            <br>

            <div>
                <label for="type_input">Book Type:</label>
                <input type="text" id="type_input" name="book_type" placeholder="e.g. CS, IEM">
            </div>
            <br>

            <div>
                <label for="avail_input">Availability:</label>
                <select id="avail_input" name="book_availability">
                    <option value="1">Available</option>
                    <option value="0">Not Available</option>
                </select>
            </div>
            <br>
            <br>

            <button type="submit">Add Book</button>
        </form>

        <br>
        <a href="/maintenance">Back to Maintenance Page</a>
    </main>

    <footer class="container">
        <p>&copy; 2025 Campus Information Center.</p>
    </footer>
</body>
</html>