<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hall Details</title>
</head>
<body>
    <h1>{{ hall.name_ }}</h1> <h2>Part of: {{ hall.name }}</h2> <ul>
        <li><strong>Venue ID:</strong> {{ hall.venue_id }}</li>
        <li><strong>Address:</strong> {{ hall.address_ }}</li>
        <li><strong>Capacity:</strong> {{ hall.capacity }} seats</li>
        <li><strong>Venue Hours:</strong> {{ hall.opening_hours }}</li>
    </ul>
    
    <a href="/">Back to Home</a>
</body>
</html>