<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disclaimer - SLE</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="container header-flex-wrapper">
    <div id="logo">
        <img src="/static/campus_logo.png" alt="Campus Information Center">
        <h1><a href="/">Campus Information Center</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/maintenance">Maintenance</a></li>
            <li class="current_page_item"><a href="/imprint">Imprint</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <div class="main-content">

        <div class="title">
             <h2>Disclaimer</h2>
        </div>
        
        <p>
            This website is student lab work and does not necessarily reflect Constructor University opinions. 
            Constructor University does not endorse this site, nor is it checked by Constructor University 
            regularly, nor is it part of the official Constructor University web presence.
        </p>
        <p>
            For each external link existing on this website, we initially have checked that the target page 
            does not contain contents which is illegal wrt. German jurisdiction. However, as we have no in-
            fluence on such contents, this may change without our notice. Therefore we deny any responsib-
            ility for the websites referenced through our external links from here.
        </p>
        <p>
            No information conflicting with GDPR is stored in the server.
        </p>
        <p>
            For questions regarding this site, please contact us
            <br>
            <strong>srasool [at] constructor.university<br>
                lmodovan [at] constructor.university<br>
                vmoldovean [at] constructor.university
            </strong>
        </p>
    </div>
</div>

<footer class="container">
    <p>&copy; 2025 Campus Information Center. All rights reserved.</p>
</footer>
</body>
</html>