<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<h3>Search for Gym Personnel</h3>

<form action="/building-results" method="GET">

  <label>Personnel name:</label>
  
  <input type="text" name="personnel_name" placeholder="Enter personnel name...">

  <button type="submit">Search</button>

  <p>Hints: Manolescu-Neacsu Andrei, Alexandru Dobleaga, Robert Ionescu, Simeon</p>
</form>

</body>
</html>